*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fls
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.bcf
*.pdf
*.xml
*#
*~
*.gin
*.prb
*.pcr
*.md
thumbnail.dbx
cv-mikheyev.docx

.gitsecret/keys/random_seed
!*.secret
curriculum_vitae.yaml
.Rproj.user
